body {
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  background-color: #eee !important;
}

.content-main {
  min-height: calc(100vh - 50px - 30vh);
  margin: 30px 20% 0 20%;
  background-color: #fff;
  padding: 20px;
  border-radius: 23px;
}
